{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a href="" class="navbar-brand">EC2 Deploy</a>
        </div>
    </nav>
    <div class="container">
        <div class="img-container row justify-content-center">
            <div class="col-md-10 col-lg-8 mt-3">
                <img src="{% static 'images/download.jpg' %}" alt="" class="img-fluid rounded">
            </div>
        </div>
    </div>

</body>
</html>